<div class="productTabs">
    {%- capture accentuateTabs -%}{% include 'product-tabs-accentuate' %}{%- endcapture -%}

    {%- unless accentuateTabs == blank -%}
      {{ accentuateTabs }}
    {%- else -%}
      <div id="sticky-tabs">
        <div class="container">
          
          <ul class="tab-product-page">
            {% if product.metafields.product_tab.overview %}
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="overview-tab" href="#overview">{{ product.metafields.product_tab.overview }}</a>
              </li>
            {% endif %}
            {% if product.metafields.product_tab.specifications %}
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="specifications-tab" href="#specifications">{{ product.metafields.product_tab.specifications }}</a>
              </li>
            {% endif %}
            {% if product.metafields.product_tab.installation %}
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="installation-tab" href="#installation">{{ product.metafields.product_tab.installation }}</a>
              </li>
            {% endif %}
            
            {% if product.metafields.product_tab.warranty %}
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="warranty-tab" href="#warranty">{{ product.metafields.product_tab.warranty }}</a>
              </li>
            {% endif %}
            
            {% if product.metafields.product_tab.faq %}
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="faq-tab" href="#faq">{{ product.metafields.product_tab.faq }}</a>
              </li>
            {% endif %}
            <li class="nav-item review-tab" role="presentation">
              <a class="nav-link" id="review-tab" href="#reviews">Reviews</a>
            </li>
          </ul>
          <span class="tab-select-arrow">
             <i class="fa fa-angle-down"></i>
          </span>
          <div class="sticky-tab-2">
            <a href="#shopify-section-product-template" class="sticky-buy-now">SHOP NOW</a>
          </div>
        </div>
        {% if product.metafields.tabbar.message %}    
        <div class="header-top">
            <div class="container-fluid">
              <div class="top-message">
                  <p><span>{{ product.metafields.tabbar.message }}</span></p>
              </div>
            </div>
         </div> 
        {% endif %}
      </div>
  
      
    
    <div class="container">
      <div id="overview">
        {% if product.metafields.product_tab.overview %}
          {{ product.metafields.product_tab.overview_content }}
        {% endif %}
      </div>
      
      <div id="specifications">
        {% if product.metafields.product_tab.specifications %}
          {{ product.metafields.product_tab.specifications_content }}
        {% endif %}
      </div>
      
      <div id="installation">
        {% if product.metafields.product_tab.installation %}
          {{ product.metafields.product_tab.installation_content }}
        {% endif %}
      </div>
      
      <div id="warranty">
        {% if product.metafields.product_tab.warranty %}
          {{ product.metafields.product_tab.warranty_content }}
        {% endif %}
      </div>
    
    
      <div id="faq">
        {% if product.metafields.product_tab.faq %}
          {{ product.metafields.product_tab.faq_content }}
        {% endif %}
      </div>
      </div>
    {% endunless %}
  </div>
  
  <!--{%- include 'standing-desk-videos' -%}-->

  <script type="text/javascript">
    // Create the dropdown base
    $("<select />").appendTo("#sticky-tabs .container");
    
    // Populate dropdown with menu items
    $("#sticky-tabs .container .tab-product-page a").each(function() {
      var el = $(this);
      $("<option />", {
        "value"   : el.attr("href"),
        "text"    : el.text()
      }).appendTo("#sticky-tabs .container select");
    });
    $("#sticky-tabs .container select").change(function() {
      window.location = $(this).find("option:selected").val();
    });
  </script>



<script>
  // faq collapsable section
  (function($) {
    $("#faq .faqSection .pt-5>h3").click(function() {
      $(this).toggleClass('expanded');
    });
  })(jQuery);
</script>